<Layouts.flash_group flash={@flash} />
<.three_column>
  <:nav>
    <.nav_collection
      :for={collection <- @collections}
      collection={collection}
      current_urn={@poem.urn}
    />
  </:nav>
  <:text>
    <.text_container :for={element <- @poem.elements} element={element} />
  </:text>
  <:commentary :for={comment <- @comments}>
    <.commentary_card comment={comment} />
  </:commentary>
</.three_column>
